DB_HOST=




{
    "name": "Test1",
    "email": "dui.Fusce.diam@Donec.com",
    "phone": "(233) 738-2360",
    "favorite": false,
    "_id": "61f43a4e8f9273ad2c362253",
    "createdAt": "2022-01-28T18:47:42.186Z",
    "updatedAt": "2022-01-28T18:47:42.186Z"
}